.container {
    min-height: 100vh;
    width: 100%;
    padding: 4rem 0;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    gap: 4rem;

    & h2 {
        font-size: 2rem;
    }

    & div {
        display: flex;
        justify-content: center;
        gap: 1rem;
        flex-wrap: wrap;
    }

}

@media (min-width: 2100px) {
    .container div {
        width: 60%;
    }
}