.footer {
    width: 100%;
    background-color: var(--bkg2);
    padding: 4rem 6rem;
    display: flex;
    justify-content: space-between;

    

    & .copy {
        position: absolute;
        right: 1rem;
        height: 24rem;
        display: flex;
        flex-direction: column-reverse;
        color: #919191;
    }

    & .divlogo {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap-reverse;
        justify-content: center;
        width: 30%;
        
        
        gap: 2rem;
        & img {
            width: 12rem;
            height: auto;
        }
        
    }

    & .div1 {

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 2rem;

        height: 100%;

        
        


        & div {
            display: flex;
            flex-direction: column;

            & strong {
                font-weight: 350;
                color: #D4D5D9;
            }
            
            & span {
                font-size: 16px;
                
            }
        }
    }

    & .div2 {
        display: flex;
        gap: 4rem;
        
        & .div1 {
            justify-content: flex-end;
        }
    }
    
}

/*height: 17rem;*/

@media (min-width: 1521px) {
    .footer .copy {
        height: 17rem;
    }
}

@media (min-width: 2340px) {
    .footer .copy {
        height: 11rem;
    }
}

@media (max-width: 1486px) {
    .footer {
        padding: 4rem 4rem;
    }
}

/*1250*/
@media (max-width: 1250px) {
    .footer {
        padding: 4rem 4rem;
        & .copy {
            height: 28rem;
        }

        & .div2 {
            flex-direction: column;
            gap: 0;
            height: 25rem;
        }
    }
}

@media (max-width: 1000px) {
    .footer {
        flex-direction: column;

        & .copy {
            position: sticky;
            height: fit-content;
        }

        & .divlogo {
            width: 100%;
            padding-bottom: 1rem;
        }

        & .div1 {
            height: fit-content;
        }

        & .div2 {
            gap: 1rem;
        }
    }
}

@media (max-width: 700px) {
    .footer .divlogo {
        flex-wrap: wrap;
    }
}

@media (max-width: 580px) {
    .footer {
        flex-direction: column;
        padding: 2rem;
        gap: 4rem;

        font-size: 13px;

        & .div2 {
            gap: 1rem;
            & .div1 {
                height: fit-content;
                gap: 2rem;
                & span {
                    font-size: 14px;
                }
            }
        }

        & .copy {
            position: sticky;
        }

        

        & .div1 {
            height: fit-content;
        }

        & .div2 {
            height: fit-content;
        }
    }
}